/* Background style */

body {
    background: rgb(251,208,63);
    background: linear-gradient(0deg, rgba(251,208,63,1) 0%, rgba(232,83,251,1) 100%);
    color: #fff;
}

/* Start CSS / style for midInfo */

#midInfo{
    display: inline-table; 
    margin: 1.5%;
    color: rgb(255, 199, 179);
    text-shadow: 2px 2px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}

#helpBtn {
    display: table;
    margin: auto;
    margin-top: -7%;
    background: rgba(255, 199, 179, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 199, 179, 0.9);
    border-radius: 10px;
}

#helpBtn:hover {
    background: rgba(255, 199, 179, 0.9);
}

#helpImg{
    display:none;
}

/* End CSS / style for midInfo*/

/* Start CSS / style for playerOne */

#playerOne {
    width: 40%;
    float: left;
    border-style: solid hidden;
    border-width: 5px;
    border-color: rgb(116, 232, 242);
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(241, 128, 242, 0.5) 0%, rgba(116, 232, 242, 0.5) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 199, 179);
    text-shadow: 2px 2px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}


#title1 {
    display: table; 
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 15px;
}

#cover1 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 4px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 100px; 
}

#playController1 {
    display: table;
    margin: 10px auto;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px; 
}

#playController1:hover {
    background: rgba(116, 232, 242, 0.7);
}

/* not working */
#songProgress1 {
    display: table; 
    margin: 5 auto;
    width: 87%;
    background: rgba(50, 0, 62, 0.2);
    border-radius: 15px;
}

/* not working */
#songProgressPassed1 {
    width: 99%;
    background: linear-gradient(90deg, rgb(0, 238, 255,0.5) 0%, rgb(204, 0, 255,0.5) 100%);

}

/* not working */
#songProgressTime1 {
    display: table; 
    margin: auto;
}

#allSliderBG1 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 3px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 15px;
}

#volumeSlider1 {
    width: 25%;
    display: inline-block;
}

#volumeController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;
}

#bassSlider1 {
    width: 25%;
    display: inline-block; 
}

#bassController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;       
}

#midSlider1 {
    width: 25%;
    display: inline-block; 
}

#midController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}

#trebleSlider1 {
    width: 25%;
    display: inline-block; 
}

#trebleController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}

#sliderText1 {
    text-align: center;
}

#visualizer1 {
    display: table;
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 15px;
}

/* End CSS / style for PlayerOne */

/* Start CSS / style for PlayerTwo */

#playerTwo {
    width: 40%;
    float: right;
    border-style: solid hidden;
    border-width: 5px;
    border-color: rgb(251, 0, 255);
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(116, 232, 242, 0.5) 0%, rgba(241, 128, 242, 0.5) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 199, 179);
    text-shadow: 2px 2px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}

#title2 {
    display: table; 
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 15px;
}

#cover2 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 4px;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 100px; 
}

#playController2 {
    display: table;
    margin: 10px auto;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px; 
}

#playController2:hover {
    background: rgba(251, 0, 255, 0.7);
}

/* not working */
#songProgress2 {
    display: table; 
    margin: 5 auto;
    width: 87%;
    background: rgba(50, 0, 62, 0.2);
    border-radius: 15px;
}

/* not working */
#songProgressPassed2 {
    width: 99%;
    background: linear-gradient(90deg, rgb(0, 238, 255,0.5) 0%, rgb(204, 0, 255,0.5) 100%);

}

/* not working */
#songProgressTime2 {
    display: table; 
    margin: auto;
}

#allSliderBG2 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 3px;
    border-color: rgba(251, 0, 255);
    border-radius: 15px;
}

#volumeSlider2 {
    width: 25%;
    display: inline-block; 
    
}

#volumeController2 {
    -webkit-appearance: slider-vertical; 
    width: 100%;
    margin: 0 auto;
}

#bassSlider2 {
    width: 25%;
    display: inline-block; 
}

#bassController2 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}

#midSlider2 {
    width: 25%;
    display: inline-block; 
}

#midController2 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}
#trebleSlider2 {
    width: 25%;
    display: inline-block; 
}

#trebleController2 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;      
}

#visualizer2 {
    display: table; 
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 15px;
}

/* End CSS / style for PlayerTwo */