/* Background style */

body {
    background: rgb(251,208,63);
    background: linear-gradient(0deg, rgba(251,208,63,1) 0%, rgba(232,83,251,1) 100%);
    color: #fff;
}

/* Start CSS / style for midInfo */

#midInfo{
    position: absolute;
    left: 40%;
    top: 2%;
    display: inline-table; 
    margin: 1.5%;
    color: rgb(255, 199, 179);
    text-shadow: 2px 2px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}

#helpBtn {
    position: absolute;
    left: 13%;
    display: table;
    background: rgba(255, 199, 179, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 199, 179, 0.9);
    border-radius: 10px;
}

#helpBtn:hover {
    background: rgba(255, 199, 179, 0.9);
}

#helpImg{
    display:none;
}

.popup {
    width: 100%;
    border-radius: 6px;
    position: relative;
    margin-top: -70%;
    right: 90%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s;
}

.open-popup {
    visibility: visible;
    transform: translate(50%, 50%) scale(1);
    z-index: 999999 !important;
}

.popup input {
    position: absolute;
    width: 6%;
    height: auto;
    right: -9%;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.popup img {
    width: 110%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* End CSS / style for midInfo*/

/* Start CSS / style for playerOne */

#playerOne {
    position: absolute;
    width: 40%;
    left: 1%;
    top: 2%;
    border-style: solid hidden;
    border-width: 5px;
    border-color: rgb(116, 232, 242);
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(241, 128, 242, 0.5) 0%, rgba(116, 232, 242, 0.5) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 199, 179);
    text-shadow: 2px 2px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}


#title1 {
    display: table; 
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 15px;
}

#cover1 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 4px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 100px; 
}

#playController1 {
    display: table;
    margin: 5px auto;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px; 
}

#playController1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#songButtons1{
    display: table;
    margin: auto;
}

#song1_1{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px;
}

#song1_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#song2_1{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px;
}

#song2_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#song3_1{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px;
}

#song3_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#song4_1{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px;
}

#song4_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#playSpeedButtons1 {
    display: table;
    margin: auto;
}

#playSpeed_x0_5_1 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px; 
}

#playSpeed_x0_5_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#playSpeed_x1_0_1 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px; 
}

#playSpeed_x1_0_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#playSpeed_x1_5_1 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px; 
}

#playSpeed_x1_5_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

#playSpeed_x2_0_1 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(116, 232, 242, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 10px; 
}

#playSpeed_x2_0_1:hover {
    background: rgba(116, 232, 242, 0.7);
}

/* not working */
#songProgress1 {
    display: table; 
    margin: 5 auto;
    width: 87%;
    background: rgba(50, 0, 62, 0.2);
    border-radius: 15px;
}

/* not working */
#songProgressPassed1 {
    width: 99%;
    background: linear-gradient(90deg, rgb(0, 238, 255,0.5) 0%, rgb(204, 0, 255,0.5) 100%);

}

/* not working */
#songProgressTime1 {
    display: table; 
    margin: auto;
}

#allSliderBG1 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 3px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 15px;
}

#volumeSlider1 {
    width: 25%;
    display: inline-block;
}

#volumeController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;
}

#bassSlider1 {
    width: 25%;
    display: inline-block; 
}

#bassController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;       
}

#midSlider1 {
    width: 25%;
    display: inline-block; 
}

#midController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}

#trebleSlider1 {
    width: 25%;
    display: inline-block; 
}

#trebleController1 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}

.sliderText1 {
    text-align: center;
}

#visualizer1 {
    display: table;
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(116, 232, 242, 0.9);
    border-radius: 15px;
}

/* End CSS / style for PlayerOne */

/* Start CSS / style for PlayerTwo */

#playerTwo {
    position: absolute;
    width: 40%;
    right: 1%;
    top: 2%;
    border-style: solid hidden;
    border-width: 5px;
    border-color: rgb(251, 0, 255);
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(116, 232, 242, 0.5) 0%, rgba(241, 128, 242, 0.5) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 199, 179);
    text-shadow: 2px 2px 2px black;
    font-family:Arial, Helvetica, sans-serif;
}

#title2 {
    display: table; 
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 15px;
}

#cover2 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 4px;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 100px; 
}

#playController2 {
    display: table;
    margin: 5px auto;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px; 
}

#playController2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#songButtons2{
    display: table;
    margin: auto;
}

#song1_2{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px;
}

#song1_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#song2_2{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px;
}

#song2_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#song3_2{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px;
}

#song3_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#song4_2{
    display: inline-table;
    margin: 5px auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px;
}

#song4_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#playSpeedButtons2 {
    display: table;
    margin: auto;
}

#playSpeed_x0_5_2 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px; 
}

#playSpeed_x0_5_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#playSpeed_x1_0_2 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px; 
}

#playSpeed_x1_0_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#playSpeed_x1_5_2 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px; 
}

#playSpeed_x1_5_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

#playSpeed_x2_0_2 {
    display: inline-table;
    margin: auto;
    margin-left: 2px;
    background: rgba(251, 0, 255, 0.5);
    border-width: 4px;
    border-style: solid;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 10px; 
}

#playSpeed_x2_0_2:hover {
    background: rgba(251, 0, 255, 0.7);
}

/* not working */
#songProgress2 {
    display: table; 
    margin: 5 auto;
    width: 87%;
    background: rgba(50, 0, 62, 0.2);
    border-radius: 15px;
}

/* not working */
#songProgressPassed2 {
    width: 99%;
    background: linear-gradient(90deg, rgb(0, 238, 255,0.5) 0%, rgb(204, 0, 255,0.5) 100%);

}

/* not working */
#songProgressTime2 {
    display: table; 
    margin: auto;
}

#allSliderBG2 {
    display: table;
    margin: 2px auto;
    border-style: hidden solid;
    border-width: 3px;
    border-color: rgba(251, 0, 255);
    border-radius: 15px;
}

#volumeSlider2 {
    width: 25%;
    display: inline-block; 
    
}

#volumeController2 {
    -webkit-appearance: slider-vertical; 
    width: 100%;
    margin: 0 auto;
}

#bassSlider2 {
    width: 25%;
    display: inline-block; 
}

#bassController2 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}

#midSlider2 {
    width: 25%;
    display: inline-block; 
}

#midController2 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;    
    
}
#trebleSlider2 {
    width: 25%;
    display: inline-block; 
}

#trebleController2 {
    -webkit-appearance: slider-vertical;
    width: 100%;
    margin: 0 auto;      
}

#visualizer2 {
    display: table; 
    margin: 2px auto;
    border-style: solid hidden;
    border-width: 3px;
    border-color: rgba(251, 0, 255, 0.9);
    border-radius: 15px;
}

/* End CSS / style for PlayerTwo */